a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


div.TopicSection {
  top: 29%;
  right: 10%;
  position: absolute;
  border: none;
  background: #ffffcc;
  width: 90%;
  height: 70%;
  font-weight: bold;
}

button:hover {
  background-color: #99ff66;
}

.button {
  background-color: #33ccff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


div.news {
  top: 29%;
  right: 10%;
  position: absolute;
  border: 3px solid #4dffff;
  background: #66ffff;
  width: 90%;
  height: 70%;
  font-weight: bold;
}

div.intro {
  top: 9%;
  left: 0;
  position: absolute;
  border: 3px solid #ffff66;
  font-weight: bold;
  background: #ffff99;
  width: 90%;
  height: 20%;
}

div.adverts {
  position: absolute;
  top: 8%;
  right: 0;
  width: 10%;
  height:100%;
  font-weight: bold;
  background: white;
}

.footer {  
   background-color: white;
   color: black;
   text-align: center;  
   font-weight: bold;
}

.footer2 {  
   position: absolute;
   background-color: white;
   color: black;
   text-align: center; 
   top: 100%;
   left: 0;
   font-weight: bold;
   width: 90%;
   height: 5%; 
}

div.detail {
  position: absolute;
  right: 10%;
  border: 3px solid #4dffff;
  background: #66ffff;
  width: 70%;
  height: 90%;
  font-weight: bold;
  overflow: scroll;
}

div.master {
  position: absolute;
  right: 80%;
  border: 3px solid #ffff66;
  font-weight: bold;
  background: #ffff99;
  width: 20%;
  height: 90%;
  overflow: scroll;
}

div.adverts2 {
  position: absolute;
  top: 1;
  right: 0;
  width: 10%;
  height:90%;
  font-weight: bold;
  background: white;
}